@font-face {font-family: "Brandon Grotesque";}

body {
  padding: 50px;
  font: 14px "Brandon Grotesque", "Lucida Grande", Helvetica, Arial, sans-serif;
}

img {
  height: 150px;
  width: 150px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  background-image: url(add.png);
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 15px;
  margin-left: 15px;
  cursor: default; 
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#now-playing {
  background-color: #ddd;
  margin-bottom: 1em;
}

#library {
  width: 590px;
  height: 300px;
  overflow: auto;
  background-color: #eee;
  margin-bottom: 1em;
  margin-right: 10px;
}

#play-list {
  float: right;
  width: 200px;
  height: 300px;
  overflow: auto;
}

#controls {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  float: right;
  background-color: #ddd;
  padding:5px;
  border-radius: 5px;
  margin-top: -25px;
}

#player {
  height: 1px;
  width: 1px;
}

#play-list div {
  border-bottom: 1px solid #eee;
}

#play-list div:hover, .current-song {
  background-color: #ddd;
  cursor: default;
}

.playlist-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  border-bottom: #333;
}

#timeline {
  float: left;
  margin-right: 5px;
}

#time-elapsed {
  float: left;
  margin-right: 5px;
}

#time-left {
  float: right;
}

#current-time {
  float: left;
  position: relative;
  left: 2px;
}

.heading {
  text-align: center;
}

.album-title {
  padding: 5px 0 0 15px;
}

.nav-button {
  font-size: 3em; 
  cursor: pointer;
  position: relative;
  float: left;
  margin: 0 10px 0 10px;
}

.album {
  margin-top: 10px;
  margin-bottom: 40px;
}

.album-cover {
  float: right;
  margin-right: 50px;
  margin-bottom: 10px;
}

.album li:hover {
  background-color: #ddd;
  width: 150px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
